<%= form_with model: project, url: projects_path, data: { turbo_frame: "new_project_form" } do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div>
    <%= f.submit "Create Project" %>
  </div>
<% end %>